$breakpoints: (
  mobile: 768px,
  laptop: 1240px,
  desktop-lg: 1800px
);

.container{
  width: 100%;
  
  margin: 0 auto;

  max-width: 1100px;
  // max-width: 1800px;

  @media (min-width: map-get($breakpoints, mobile)) {
    padding: 0 3rem;
    padding-bottom: 3rem;
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    padding: 0 0.5rem;
    padding-bottom: 1.5rem;
  }
}

.btn{
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 1rem;

  cursor: pointer;

  font-family: inherit;

  background-color: white;
  border: 2px solid black;
  color: black;

  &:hover{
  background-color: black;
  color: white;
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid gray;

  h1{
    cursor: pointer;
    font-weight: normal;

    margin: 0.6rem 0;
  }

  .nav{
    display: flex;
    justify-content: center;
    height: 100%;

    a{
      margin-left: 1rem;
      padding: 0.5rem 0;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;

        width: 100%;
        height: 2px;
        background-color: black;

        display: none;
      }

      &:hover{
        &::before{
          display: block;
        }
      }
    }
  }
}

.titletext{
  // display: flex;
  width: 100%;
  text-align: center;


  justify-content: center;

  .sub{
    font-size: 1rem;
  }

  @media (min-width: map-get($breakpoints, laptop)) {
    font-size: 2.5em;
    padding:  3rem 0;

    p{
      margin: 1rem 0;
    }
  }

  @media (max-width: map-get($breakpoints, laptop)) {
    font-size: 2em;
    padding:  3rem 0;

    p{
      margin: 1rem 0;
    }
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    font-size: 1.2em;
    padding:  1rem 0;

    p{
      margin: 0.5rem 0;
    }
  }
}

.loader{
  position: fixed;
  background-color: white;


  top: 0;
  left: 0;

  z-index: 19;

  min-height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;
  text-align: center;

  p{
    font-weight: bold;
  }

  @media (min-width: map-get($breakpoints, laptop)) {
    font-size: 2.5em;
    padding:  3rem;
  }

  @media (max-width: map-get($breakpoints, laptop)) {
    font-size: 2em;
    padding:  3rem;
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    font-size: 1.5rem;
    padding:  1.5rem;
  }
}

.linkSection{
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;

  margin: 1rem 0;
  padding: 3rem 0;

  text-align: center;

  .title{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;

    @media (min-width: map-get($breakpoints, mobile)) {
      font-size: 3rem;
    }
  
    @media (max-width: map-get($breakpoints, mobile)) {
      font-size: 40px;
    }
  }

  .sub{
    padding: 1rem 0;
  }
  
}

.wrapper{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.473);

  top: 0;
  left: 0;

  z-index: 19;

  height: 100%;
  width: 100%;
}

.formContainer{
  background-color: white;
  border: black solid 5px;

  position: relative;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 20;
  transition: transform 0.2s;

  max-width: 500px;

  h1{
    font-weight: normal;
  }

  @media (min-width: map-get($breakpoints, laptop)) {
    width: 40%;
    padding: 4rem;

    .closeButton{
      transform: translate(100%,-100%);
    }

    fieldset{
      padding: 1rem 0;
    }
  }

  @media (max-width: map-get($breakpoints, laptop)) {
    width: 70%;
    padding: 3rem;

    .closeButton{
      transform: translate(100%,-100%);
    }

    fieldset{
      padding: 1rem 0;
    }
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    width: 95%;
    padding: 0.5rem 1rem;

    .closeButton{
      transform: translate(20%,-30%);
    }

    fieldset{
      padding: 0.3rem 0;
    }
  }

  .formGroup{
    display: flex;

    @media (min-width: map-get($breakpoints, mobile)) {
      flex-direction: row;
      gap: 1rem;
    }
  
    @media (max-width: map-get($breakpoints, mobile)) {
      flex-direction: column;
    }

  }

  .closeButton{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 2rem;
    float: right;
  }

  fieldset{
    width: 100%;
    margin: 0;
    border: 0;

    input{
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
    }
  }

  .submitButton{
    font-size: 1.2rem;
    padding: 0.4rem;
    width: 100%;

    cursor: pointer;

    font-family: inherit;

    background-color: black;
    border: 2px solid black;
    color: white;

    &:hover{
    background-color: white;
    color: black;
    }
  }
}

.submitsection{
  background-color: #FAFAFA;

  width: 100%;

  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;

  button{
    all: unset;

    padding: 0.2rem 1.5rem;
    border-radius: 1.2rem;

    font-size: 1.2rem;
    border: 1px gray solid;

    &:hover{
      cursor: pointer;
    }

    &:disabled{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
  }

  .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    padding: 0.5rem 1rem;
  }

}

.imageselection{
  display: relative;
}

.gridcontainer{
  display: grid;
  width: 100%;

  @media (min-width: map-get($breakpoints, desktop-lg)) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-auto-rows: minmax(1%, 2fr);

    gap: 1.5em;
  }

  @media (max-width: map-get($breakpoints, desktop-lg)) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-auto-rows: minmax(1%, 2fr);

    gap: 1.5em;
  }

  @media (max-width: map-get($breakpoints, laptop)) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-auto-rows: minmax(1%, 2fr);

    gap: 1.5em;
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    grid-template-columns: 1fr 1fr;
    // grid-auto-rows: minmax(250px, 2fr);

    gap: 0.5em;

    .gridimage:last-of-type{
      display: none;
    }
  }

}

.gridimage{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  cursor: pointer;

  border-radius: 1em;

  &::before{
    content: " ";

    padding-top: 125%;
    display: block;
  }
}

.label{
    display: block;
    position: absolute;

    cursor: pointer;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 10;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;

    &::before{  
      display: block;

      color: black;
      
      border-radius: 50%;
      
      position: absolute;
      
      top: 15px;
      right: 15px;
      
      width: 25px;
      height: 25px;
      
      text-align: center;
      line-height: 28px;
      
      transition-duration: 0.4s;
      transform: scale(0);
    }
}
  
.imageselector{
    display: none;
}

  
:checked+.label::before {
  content: "✓";
  background-color: white;

  font-weight: bold;
  transform: scale(1.5);
}

.textcenter{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

  // font-weight: normal;

  h1{
    font-weight: normal;
  }
}

.texttitle{
  text-transform: uppercase;
  margin: 0.5em 0 0.2em 0; 

  @media (min-width: map-get($breakpoints, mobile)) {
    font-size: 3rem;
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    font-size: 40px;
  }

}

.stylerow{
  display: flex;

  .styletip{
    text-align: center;
  }

  @media (min-width: map-get($breakpoints, desktop-lg)) {
    justify-content: space-evenly;
    gap: 2em;

    .styletip{
      width: 30rem;
    }
  }

  @media (max-width: map-get($breakpoints, desktop-lg)) {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;

    .styletip{
      width: 30rem;
    }
  }

  @media (max-width: map-get($breakpoints, laptop)) {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;

    .styletip{
      width: 30rem;
    }
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    flex-direction: column;
    align-items: center;
    gap: 0.1em;

    .styletip{
      width: 100%;
    }
  }
}

.row{
  padding-bottom: 2rem;
}

.imgrow{
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;

  gap: 1.5em;

  @media (min-width: map-get($breakpoints, desktop-lg)) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: map-get($breakpoints, desktop-lg)) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: map-get($breakpoints, laptop)) {
    grid-template-columns: 1fr 1fr 1fr;

    & div:last-of-type{
      display: block;
    }
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    width: 100%;
    grid-template-columns: 1fr 1fr;

    & div:last-of-type{
      display: none;
    }
  }

  .img{
    width: 100%;

    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  
    position: relative;
    border-radius: 1em;

    &::before{
      content: " ";
  
      padding-top: 125%;
      display: block;
    }
  }
}